h2:hover {
	color: red;
}

.subtitle {
	color: blue;
}

li:only-child {
	color: steelblue;
}

td:only-child {
	color: purple;
}

/*.link:link {
	color: blue;
}

.link:visited {
	color: red;
}*/

h2 + a {
	color: red;
}

textarea ~ button {
	color: purple;
}

ul > li {
	color: blue;
}

/* descendant selector */
ul li {
	color: green;
}